.menu { 
    position: absolute; 
    background-color: white; 
    color: #3395dd; 
    z-index: 999990; 
    border-radius: 15px 0px 0px 15px;
  }

  #overflow_Menu {
    overflow-y: none;
  }

  .menu--right { 
    top: 20px; 
    right: 0; 
    width: 250px; 
    /* height: 45vh; */
  }

  .menu-list { 
    list-style: none;
  }
      
.menu-list-item { 
	font-family: futura-pt, sans-serif;
	font-weight: 800;
	font-style: normal;  
  
  font-size: 13pt;
  list-style: none; 
}
    
.menu-list-item--right { 
  margin: 15px 40px; 
}

  .menu a { 
    text-decoration: none; 
    color: #3395dd;
  }
      
  .menu a:hover, 
  .menu a:focus { 
    color: #14639c; 
  }

  .menu-button { 
    height: 3vh;
    top: 40px;
    outline: none;
    z-index: 999991; 
    border: none; 
    position: fixed;
    right: 50px; 
    cursor: pointer; 
  }