/* INITIALIZERS + DEFAULTS
 * ============================== */

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 65%;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

h1 {
	font-weight: 300;
	margin: 0 0 15px;
	font-size: 3rem;
}

h2 {
	font-weight: 300;
	margin: 0;
	font-size: 2rem;
}

/* BASE APP
  * ============================== */

.App__nav {
	width: 100%;
	list-style: none;
}

.App__customer-actions {
	float: left;
	padding: 10px;
}

.App__title {
	padding: 80px 20px;
	text-align: center;
}

.Product-wrapper {
	/* max-width: 850px; */
	margin: 5% auto 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 90vw;
	padding-bottom: 50px
}

/* Cart icon */
.App__view-cart-wrapper {
	float: right;
}

.App__view-cart {
	/* height: 2.6vh; */
    top: 2vh;
	font-size: 3vh;
    outline: none;
    z-index: 40; 
    border: none; 
    position: fixed;
    right: 9%; 
    cursor: pointer; 
	background: none;
	color: white;
}

.button {
	background-color: #2752ff;
	color: white;
	border: none;
	font-size: 1.2rem;
	padding: 10px 17px;
	cursor: pointer;
	border-radius: 5px;
}

.button:hover,
.button:focus {
	background-color: #222222;
}

.button:disabled {
	background: #bfbfbf;
	cursor: not-allowed;
}

.login {
	font-size: 1.2rem;
	color: #b8b8b8;
	cursor: pointer;
}

.login:hover {
	color: white;
}

.Flash__message-wrapper {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	align-items: flex-end;
	justify-content: center;
	position: fixed;
	bottom: 0;
	z-index: 227;
	left: 50%;
	transform: translateX(-50%);
}

.Flash__message {
	background: rgba(0, 0, 0, 0.88);
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	color: #ffffff;
	cursor: default;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: none;
	pointer-events: auto;
	position: relative;
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	padding: 10px 20px;
	margin: 0;
}

.Flash__message--open {
	display: flex;
}

/* CART
  * ============================== */
.Cart {
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	height: 100%;
	width: 350px;
	background-color: white;
	display: flex;
	flex-direction: column;
	border-left: 1px solid #e5e5e5;
	transform: translateX(-100%);
	transition: transform 0.15s ease-in-out;
	border-radius: 0px 15px 15px 0px;
}

.Cart--open {
	transform: translateX(0);
}

.Cart__close {
	top: 17px;
	outline: none;
	position: absolute;
	right: 20px;
	font-size: 25px;
	color: darkgrey;
	border: none;
	background: transparent;
	transition: transform 100ms ease;
	cursor: pointer;
}

.Cart__header {
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
	flex: 0 0 auto;
	display: inline-block;
}

.Cart__line-items {
	flex: 1 0 auto;
	margin: 0;
	padding: 20px;
}

.Cart__footer {
	padding: 20px;
	border-top: 1px solid #e5e5e5;
	flex: 0 0 auto;
}

.Cart__checkout {
	margin-top: 20px;
	display: block;
	width: 100%;
}

.Cart-info {
	padding: 15px 20px 10px;
}

.Cart-info__total {
	float: left;
	text-transform: uppercase;
}

.Cart-info__small {
	font-size: 11px;
}

.Cart-info__pricing {
	float: right;
}

.pricing {
	margin-left: 5px;
	font-size: 16px;
	color: black;
}

/* LINE ITEMS
  * ============================== */
.Line-item {
	margin-bottom: 20px;
	overflow: hidden;
	backface-visibility: visible;
	min-height: 65px;
	position: relative;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.Line-item__img {
	width: 65px;
	height: 65px;
	border-radius: 3px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #e5e5e5;
	position: absolute;
}

.Line-item__content {
	width: 100%;
	padding-left: 75px;
}

.Line-item__content-row {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
	position: relative;
}

.Line-item__variant-title {
	float: right;
	font-weight: bold;
	font-size: 11px;
	line-height: 17px;
	color: #767676;
}

.Line-item__title {
	color: #4e5665;
	font-size: 15px;
	font-weight: 400;
}

.Line-item__price {
	line-height: 23px;
	float: right;
	font-weight: bold;
	font-size: 15px;
	margin-right: 40px;
}

.Line-item__quantity-container {
	border: 1px solid #767676;
	float: left;
	border-radius: 3px;
}

.Line-item__quantity-update {
	color: #767676;
	display: block;
	float: left;
	height: 21px;
	line-height: 16px;
	font-family: futura-pt, sans-serif;
	width: 25px;
	padding: 0;
	border: none;
	background: transparent;
	box-shadow: none;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
}

.Line-item__quantity-update-form {
	display: inline;
}

.Line-item__quantity {
	color: black;
	width: 38px;
	height: 21px;
	line-height: 23px;
	font-size: 15px;
	border: none;
	text-align: center;
	-moz-appearance: textfield;
	background: transparent;
	border-left: 1px solid #767676;
	border-right: 1px solid #767676;
	display: block;
	float: left;
	padding: 0;
	border-radius: 0;
}

.Line-item__remove {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	background: 0;
	font-size: 20px;
	top: -4px;
	opacity: 0.5;
}

.Line-item__remove:hover {
	opacity: 1;
	cursor: pointer;
}

/* PRODUCTS
  * ============================== */
.Product {
	flex: 0 1 25%;
	width: 100%;
  	height: auto;
	cursor: pointer;
	min-width: 300px;
}

.box {
	width: 100%;
	height: auto;
	align-items: center;
}

.Product__title {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.8rem;
	margin-top: 1rem;
	margin-bottom: 0.4rem;
	text-align: center;
}

.Product__option {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.Product__quantity {
	display: block;
	width: 15%;
	margin-bottom: 10px;
}

.image {
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

div > .active {
	color: red;
	background-color: red;
	transform: scale(0.2);
	transition: transform 0.15s ease-in-out;
}

.iconScaled {
	transform: scale(1.5);
	transition: transform 0.15s ease-in-out;
	margin: 40% auto;
	position: relative;
	display: grid;
	padding-top: 25%;
	cursor: pointer;
}

.icon {
	margin: 40% auto;
	position: relative;
	display: grid;
	padding-top: 25%;
	cursor: pointer;
	transform: scale(1);
	transition: transform 0.15s ease-in-out;
}

.button__purchase {
	right: 0;
	border: none;
	font-size: 1.2rem;
	padding: 10px 17px;
	cursor: pointer;
}

/* SINGLE PRODUCT VIEW
	* ============================== */
#individualProduct {
    height: 100%;
    margin: 0;
    padding: 0;
	overflow-x: none;
}

.Images {
	float: left;
	overflow: auto;
	padding-top: 100px;
}

.Product_Image {
	width: 80%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.navigationText {
	margin-top: 2%;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;

	padding: 5%;
	/* font-size: 1.2rem; */

}

.Product-wrapper2 {
	height: 100%;
	display:flex;
	/* overflow-x: hidden;
	width: 100%; */
}

.image_edit {
	border-radius: 45px;
	width: 100%;
	height: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	/* margin-left: -15px; */
}

.homeButton {
	position: absolute;
	top: 10px;
	left: 50%;
}

.Product__description {
	margin-top: 2%;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;

	font-size: 1.2rem;
}

.prodQuantity-container {
	border: 1px solid white;
	float: left;
	border-radius: 5px;
	/* display: table; */
}

.prodQuantity-update {


	color: #767676;
	display: block;
	float: left;
	height: 50px;
	line-height: 16px;
	font-family: futura-pt, sans-serif;
	font-weight: 100;
	width: 25px;
	padding: 0;
	border: none;
	background: transparent;
	box-shadow: none;
	cursor: pointer;
	font-size: 3rem;
	text-align: center;
}

.prodQuantity {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;

	align-items: center;
	vertical-align: middle;
	display: flex;
	text-align: center;
	justify-content:center;

	color: black;
	width: 100px;
	height: 50px;
	/* line-height: 23px; */
	font-size: 1.5rem;
	/* border: none; */
	-moz-appearance: textfield;
	bottom: -5px;
	background: transparent;
	/* border-left: 1px solid #767676;
	border-right: 1px solid #767676; */
	/* display: table-cell;  */
	vertical-align: middle;
	float: left;
	/* padding: 0;
	border-radius: 0; */
}

.Product__title2 {
	font-family: futura-pt, sans-serif;
	font-weight: 800;
	font-style: normal;

	font-size: 3.5vw;
}

.Product__info {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;

	padding-right: 5%;
	padding-bottom: 50px;

	display: block;
	margin-left: auto;
	margin-right: auto;

	float: left;
	width: 50%;
	height: 100%;
	overflow: auto;
	box-sizing: content-box;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-top: 100px;
}

.size__option {
	z-index: 999;
	font-size: 2rem;
	background-color: white;
	color: black;
}

.size__option2 {
	z-index: 999;
	font-size: 2rem;
	background-color: white;
	color: #D8D8D8;
	cursor: not-allowed;
}

.size__option:hover {
	z-index: 999;
	font-size: 2rem;
	background-color: white;
	color: #D8D8D8;
}

.Productview__price {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: white;
	display: block;
	font-size: 2.5rem;
	text-align: left;
}

.Product__price {
	font-family: futura-pt, sans-serif;
	font-weight: 800;
	font-style: normal;
	color: white;
	display: block;
	font-size: 2.5rem;
	text-align: center;
}

.style__dropdown {
	cursor: pointer;
	align-items: center;
	/* height: 5%; */
	vertical-align: middle;
	display: flex;
	height: 50px;

	/* padding: 5px 5px; */

	padding: 20px;

	background: black;
	border: #ffffff solid 1px;
	border-radius: 5px;
	/* width: 100%; */
	color: white;
	/* text-align: left; */
	font-size: 1.5rem;
}

.dropDownArrow {
	cursor: pointer;
	right: 22%;
	/* margin-right: -50%; */
	float: right;
	position: absolute;
	/* text-align: right;

	align-items: right; */
}

.style__dropdownDiv{
	cursor: pointer;
	padding: 1%;
	/* padding: 20px; */
	background: white;
	border-radius: 5px;
	width: 81.5%;
	color: black;
	/* height: 50px; */
	position: absolute;
	/* text-align: left; */
}


li {
	list-style: none;
}

.prodBuyButton {
	margin-top: 3%;

	font-family: futura-pt, sans-serif;
	font-weight: 800;
	font-style: normal;

	color: white;
	border: #009AFF solid 1px;
	border-radius: 5px;
	font-size: 2rem;
	padding: 5px 5px;
	cursor: pointer;
	width: 90%;
	background: transparent;
}


.prodBuyButton:hover,
.prodBuyButton:focus {
	background-color: #009AFF;
}

.prodBuyButtonSold {
	margin-top: 3%;

	font-family: futura-pt, sans-serif;
	font-weight: 800;
	font-style: normal;

	color: white;
	border: grey solid 1px;
	border-radius: 5px;
	font-size: 2rem;
	padding: 5px 5px;
	cursor: none;
	width: 90%;
	background: transparent;
}

.quantity {
	width: 40px;
	/* height: 100%; */
	/* margin: 5px; */
	font-size: 4em;
	border-radius: 9px;
}

/* CUSTOMER AUTH
  * ============================== */
.CustomerAuth {
	background: #2a2c2e;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	padding: 0 0 65px;
	top: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	transition: opacity 150ms;
	opacity: 1;
	visibility: visible;
	z-index: 1000;
	position: fixed;
}

.CustomerAuth--open {
	display: block;
}

.CustomerAuth__close {
	position: absolute;
	right: 9px;
	top: 8px;
	font-size: 35px;
	color: #999;
	border: none;
	background: transparent;
	transition: transform 100ms ease;
	cursor: pointer;
}

.CustomerAuth__body {
	padding: 130px 30px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	position: relative;
}

.CustomerAuth__heading {
	font-size: 24px;
	font-weight: 500;
	padding-bottom: 15px;
}

.CustomerAuth__credential {
	display: block;
	position: relative;
	margin-bottom: 15px;
	border-radius: 3px;
}

.CustomerAuth__input {
	height: 60px;
	padding: 24px 10px 20px;
	border: 0px;
	font-size: 18px;
	background: #fff;
	width: 100%;
}

.CustomerAuth__submit {
	float: right;
}

.error {
	display: block;
	font-size: 15px;
	padding: 10px;
	position: relative;
	min-height: 2.64286em;
	background: #fbefee;
	color: #c23628;
}
