html,
body,
#root {
  outline: none;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

.App {
  text-align: center;
}

body {
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: white;
  background: black;
  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

canvas {
  height: 100vh;
  width: 100vw;
  position: relative;
  outline: none;
  touch-action: none;
}

.bg {
  position: absolute;
}

h1 > span {
  white-space: pre;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

h1.top-left {
  padding-top: 10px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: 600;
  font-size: 12pt;
  color: #787878;
}

a.top-left2 {
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-size: 15pt;
  color: #48BC2A;
}

h3 {
    font-weight: normal;
    font-style: normal;
    font-size: 13pt;
    color: #48BC2A;
}

.row {
  z-index: 9;
}

.branding {
  position: fixed;
  /* padding: 2%; */
  z-index: 11;
  top: 3vh;
  left: 3vh;
  height: 7vw;
  min-height: 60px;
  cursor: pointer;
}

.headerImage {
  margin-top: -2%;
  width: 30%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.imageBanner {
  margin-top: 130px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  min-width: 375px;
}

.headerGradient {
  background: rgb(0,0,0);
  /* background: linear-gradient(180deg, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%); */
  background: black;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 15vh;
  filter: drop-shadow(0px 10px 4px black);
}

.RyansLetter {
  width: 100%;
  top: 9vw;
  position: relative;
  rotate: 3deg;
}

.formDiv {
  display: table;
  width: 100%;
  position: relative;
  top: 15vw;
}

.inputNewsletter {
  width: 100%;
  top: 12vw;
  /* position: relative; */
  padding-top: 5vh;
}

.submitButtonNews {
  width: 100%;
  border: none;
  color: white;
  background: transparent;
  font-family: neuzon,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: right;
  /* position: relative; */
}

.submitButtonNews:hover {
  width: 100%;
  border: none;
  color: grey;
  background: transparent;
  font-family: neuzon,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: right;
}

.inputFieldNewsletter {
  border: none;
  border-bottom: white solid 1px;
  background: transparent;
  color: white;
  outline: none;
  width: 100%;
}

.conntainerDiv {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.child {
  scroll-snap-align: start;
  position: relative;
  height: 100vh;
  padding-left: 5vw;
}

.headerText {
  top: 17.5vh;
  padding-left: 6vh;
  padding-top: 2vw;
height: 1vh;
  font-family: neuzon,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.AboutText {
  height: 65vh;
  top: 12vw;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
	font-size: 2.6vw;
  font-size: max(2.6vw, 20px);
  padding-left: 6vw;
  padding-top: 4vh;
}

.LogoEvolutionDiv {
  height: 65vh;
  top: 12vw;
}

.logoCircleTransition {
  margin-top: 50%;
  position: absolute;
  height: 6.5rem;
  min-height: 4.7vw;
  width: auto;
  transition: all 0.4s ease-in-out;
}

.logoCircleTransition:hover {
  margin-top: 50%;
  position: absolute;
  height: 6.5rem;
  min-height: 4.7vw;
  width: auto;
  transform: scale(1.5);
}

.yearValue {
  /* width: 90vw; */
  text-align: center;
  line-height: 90%;
  font-family: neuzon,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17vh;
  font-size: max(15vw, 110px);
  opacity: 0.5;
  position: absolute;
  z-index: -9;
}

/* .is-active {
  width: 20%;
  display: inline-block;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
	font-size: 2vh;
  color: grey;
  text-decoration: none;
} */

.parentHeader {
  top: 6vh;
  text-align: justify;
  width: 100%;
  justify-content: center;
}

.headerLink:hover {
  width: 50%;
  display: inline-block;
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
	font-size: 2vh;
  color: grey;
  text-decoration: none;
}

.headerLink {
  width: 50%;
  display: inline-block;
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
	font-size: 2vh;
  color: white;
}

.headerLine {
  width: 100%;
  margin-left: -10px;
  margin-right: auto;
  background-color: white;
  border: 1 none;
  position: absolute;
}

.parentFooter {
  text-align: justify;
  width: 100%;
  justify-content: left;
  position: relative;
  text-align: center;
}

.FooterText {
  display: inline-block;
  text-align: right;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
	font-size: 2vh;
  color: white;
  text-decoration: none;
}

.FooterText:hover {
  display: inline-block;
  text-align: right;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
	font-size: 2vh;
  color: white;
  text-decoration: none;
}

.cardSection {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowR {
  right: 2vw;
  position: fixed;
  height: 12vh;
  opacity: 0.7;
  cursor: pointer;
}

.arrowL {
  left: 2vw;
  position: fixed;
  height: 12vh;
  opacity: 0.7;
  cursor: pointer;
}

.arrowL:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.arrowR:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.cursor:hover {
  cursor: help;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -2;
}

@media (min-width: 768px) {
  .background {
    background-position: center;
    background-attachment: fixed;
  }
}

.welcomeButton {
  font-family: sans-serif;
  font-size: 20pt;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: none;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
} 

.header {
  font-family: neuzon,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.view__type {
  font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.8rem;
	text-align: center;
  color: black;
}

.view__open {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.5s, opacity 0.5s ease-in-out;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.view__closed {
  opacity: 0;
  transform: translateY(-20px);
}

.productLine {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1 none;
  margin-top: 45px;
}

.threeD__label {
  color: white; 
  opacity: 0.5;
  font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
}