html,
body,
#root {
  outline: none;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  /* overflow-x: hidden; */
  /* overflow: hidden */
}

/* html, body {
  overflow-x: hidden;
} */

/* body {
  width:100%;
} */

.App {
  /* font-family: sans-serif; */
  text-align: center;
}

body {
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: white;
  background: black;
  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

canvas {
  height: 100vh;
  width: 100vw;
  position: relative;
  outline: none;
  touch-action: none;
}

.bg {
  position: absolute;
}

h1 > span {
  white-space: pre;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

h1.top-left {
  padding-top: 10px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: 600;
  font-size: 12pt;
  color: #787878;
}

a.top-left2 {
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-size: 15pt;
  color: #48BC2A;
}

h3 {
    font-weight: normal;
    font-style: normal;
    font-size: 13pt;
    color: #48BC2A;
}

.row {
  z-index: 9;
}

.branding {
  position: fixed;
  padding: 15px;
  z-index: 8;
  top: 15px;
  height: 20%;
  cursor: pointer;
}

.headerImage {
  margin-top: -2%;
  width: 30%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: lighten;
}

.imageBanner {
  margin-top: 100px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.cardSection {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 300px;
  height: 85vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.arrowR {
  right: 2vw;
  position: fixed;
  height: 8vh;
  opacity: 0.7;
  cursor: pointer;
}

.arrowL {
  left: 2vw;
  position: fixed;
  height: 8vh;
  opacity: 0.7;
  cursor: pointer;
}

.arrowL:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.arrowR:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.cursor:hover {
  cursor: help;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -2;
}

@media (min-width: 768px) {
  .background {
    background-position: center;
    background-attachment: fixed;
  }
}

.welcomeButton {
  font-family: sans-serif;
  font-size: 20pt;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: none;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
} 

.header {
  font-family: neuzon,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.view__type {
  font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.8rem;
	text-align: center;
  color: black;
}

.view__open {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.5s, opacity 0.5s ease-in-out;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.view__closed {
  opacity: 0;
  transform: translateY(-20px);
}

hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1 none;
}

.threeD__label {
  color: white; 
  opacity: 0.5;
  font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
}